.c-recent-entries {
  &__list {
    list-style: none;

    &__item {
      margin: 2rem 0 0 0;

      > * {
        font-weight: 700;
        text-decoration: none;

        ::ng-deep .desktop & {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
