/* Custom, iPhone Retina */
$screen-xxs: 320px;
$screen-xxs-plus: 400px;

/* Extra Small Devices, Phones */
$screen-xs: 480px;
$screen-xs-plus: 560px;

/* Small Devices, Tablets */
$screen-sm-minus: 700px;
$screen-sm: 768px;

/* Medium Devices, Desktops */
$screen-md: 1000px;

/* Large Devices, Wide Screens */
$screen-lg: 1200px;

/* Extra Large Devices, Wide Screens */
$screen-xl: 1600px;

/* Extra media queries by devices
   Medium max width tablet */
$screen-md-max-tablet: 1024px;
