<footer class="c-footer u-container" role="contentinfo">
  <div class="c-footer__content">
    <div class="c-footer__content__credits">
      <p class="c-footer__content__credits__copyright">
        © {{ getYear() }}
        <a [routerLink]="'/'">{{ getTitle() }}</a>
      </p>
      <p class="c-footer__content__credits__wordpress">
        <a href="https://wordpress.org/" href="#site-header">
          Powered by WordPress
        </a>
      </p>
    </div>
    <a class="c-footer__content__link_top" (click)="scrollTop()">
      <span class="c-footer__content__link_top__long">To the top</span>
      <span class="c-footer__content__link_top__short">Up</span>
    </a>
  </div>
</footer>
